# =========================
# Android Studio / IntelliJ
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Gradle
# =========================
.gradle/
**/build/

# =========================
# Local config (machine specific)
# =========================
local.properties

# =========================
# Keystore files (ÄLÄ KOSKAAN GITHUBIIN)
# =========================
*.jks
*.keystore

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Android
# =========================
captures/
.externalNativeBuild/
.cxx/

# =========================
# Kotlin / Java
# =========================
*.class
.kotlin/

# =========================
# Compose tooling
# =========================
ui-tooling-preview.json

# =========================
# Generated APK / AAB (ei versionhallintaan)
# =========================
*.apk
*.aab

# =========================
# Emulator / Device
# =========================
*.hprof
